<html>
<body>
<h1>Flash Messages are used only once and after they are retrieved they get destroyed</h1>

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div >
                {{ label }}, {{ message }} <br />
            </div>
        {% endfor %}
    {% endfor %}

</body>
</html>