<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ asset('css/menu.css.twig') }}" />
</head>
<body>

<nav>
    <ul class="menu">
        <li>
            <a href="/user/home"> Home </a>
        </li>

        <li>
            <a href="#">Welcome {{ user.getName() }}</a>
        </li>

        {% if (user.getIsAdmin()) %}
            <li>
                <a href="/product/add">Add Product</a>
            </li>
        {% endif %}

        <li>
            <a href="/user/update">Update Profile</a>
        </li>

        <li>
            <a href="/user/logout">Logout</a>
        </li>
    </ul>
</nav>

</body>
</html>