*{
    box-sizing: border-box;
}

body {
    text-align: center;
}

.product-container {
    border: 2px solid black;
    padding: 10px;
    width: 30%;
    min-width: 200px;
    height: auto;
    text-align: center;
    float: left;
    margin: 20px;
}

.product-image {
    width: 200px;
    height: 150px;

}