.header{
    background-color: red;
    color: white;
    padding:10px;
    font-size:20px;
    margin: 0;
}
.productHeader{
    background-color: green;
    color: white;
    padding:10px;
    font-size:20px;
}
.productButton{
    background-color:green;
    color: white;
    padding:10px;
    font-size:15px;
}
form{
   padding:0px;
   margin-left:20px;
}
.btn{
    background-color:green;
    color:white;
    margin-left:50px;
}
.mainDiv{
    width:300px;
    border:1px solid;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: 20%;
}